#index{
  #pair{
    position: relative;
    min-height: 288px;
    display: inline-block;
    vertical-align: middle;
    padding:0 0px;
    text-align: justify;
    width: 100%;
    margin-bottom: 10px;
    &:after{
      content:"";
      display: inline-block;
      width: 100%;
    }
    .entry{
      width: 48%;
      vertical-align: middle;
      display: inline-block;
      > h3{
        display: inline-block;
        @include aqua(13px, #7085B3);
        line-height: 35px;
        border-top:2px solid rgba(254,98,160,1);
        text-transform: uppercase;
      }
    }
    .card{
      position: relative;
      z-index: 1;
      &.active{
        z-index: 2;
      }
    }
  }
  .controls{
    text-align: center;
    .button{
      margin:0 10px 20px;
    }
  }

  @media only screen and (max-width: 800px){
    #pair{
      height: auto;
      .entry{
        width: 100%;
        display: block;
        max-width: 550px;
        margin:0 auto 30px;
        .card .contents{
          font-size: 18px;
          p{
            font-size: 18px;
          }
        }
      }
    }
  }
}
