#listing{
  .visible-content{
    text-align: left;
    .controls{
      position: absolute;
      top:0px;
      right: 0px;
      z-index: 3;
      .button{
        margin:0 10px 20px;
      }
    }

    .card-listing{
      text-align: justify;
      width: 100%;
      display: flex;
      flex-wrap:wrap;
      justify-content:space-bewteen;
      align-item:flex-start;
      &:after{
        content:"";
        display:block;
        flex-grow:2;
      }
      .ember-view{
        width: 32%;
        vertical-align: middle;
        display: inline-block;
        margin-bottom: 20px;
        margin-right: 1%;
        &:nth-child(3n){
          margin-right: 0px;
        }
        .card{
          max-width: 320px;
          margin:0 auto;
          position: relative;
          display: block;
        }
      }
    }

    #playfield{
      .liquid-container, .liquid-child{
        min-height: auto;
        overflow: visible;
      }
    }

    @media only screen and (max-width: 800px){
      text-align: center;
      h1, h2{
        text-align: center;
      }
      .controls{
        position: static;
        text-align: center;
        margin:-10px auto 20px;
      }
      .card-listing{
        height: auto;
        .ember-view{
          width: 49%;
          &:nth-child(3n){
            margin-right: 1%;
          }
          &:nth-child(2n){
            margin-right: 0px;
          }
        }
      }
    }

    @media only screen and (max-width: 500px){
      .card-listing{
        height: auto;
        .ember-view{
          width: 100%;
          &:nth-child(3n), &:nth-child(2n){
            margin-right: 0px;
          }
        }
      }
    }
  }
}
