#listing{
  .visible-content{
    padding:40px 30px;
    height: auto;
    max-height: 999vh;
    margin:20px auto;
    text-align: left;
   .controls{
      position: absolute;
      top:0px;
      right: 0px;
      z-index: 3;
      .button{
        margin:0 10px 20px;
      }
    }
    .card-listing{
      text-align: justify;
      width: 100%;
      &:after{
        content:"";
        display: inline-block;
        width: 100%;
      }
      li{
        width: 49%;
        vertical-align: middle;
        display: inline-block;
        margin-bottom: 20px;
        .status{
          position: absolute;
          top:10px;
          right:10px;
          &.active{
            @include aqua(12px, #fff);
            text-transform: uppercase;
            &:before{
              content:"";
              display: inline-block;
              width: 8px;
              height: 8px;
              border-radius: 100%;
              vertical-align: middle;
              background: #6ACD5F;
              margin-right: 3px;
              position: relative;
              top:-1px;
            }
          }
        }
      }
    }

    #playfield{
      .liquid-container, .liquid-child{
        min-height: auto;
        overflow: visible;
      }
    }


    @media only screen and (max-width: 800px){
      text-align: center;
      padding:30px 20px 20px;
      h1, h2{
        text-align: center;
      }
      .controls{
        position: static;
        text-align: center;
        margin:-10px auto 20px;
      }
      .card-listing{
        height: auto;
        li{
          width: 100%;
          display: block;
          max-width: 550px;
          margin:0 auto 20px;
          .contents{
            font-size: 18px;
            p{
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
