#listing{
  position: absolute;
  top:0px;
  left:0px;
  width: 100%;
  height: 100%;
  text-align: center;
  &:before, &:after{
    content: "";
    display: inline-block;
    width: 1px;
    position: relative;
    height: 100%;
    vertical-align: middle;
  }
  .visible-content{
    display: inline-block;
    width: 95%;
    max-width: 900px;
    height: auto;
    padding:50px 30px 20px;
    vertical-align: middle;
    position: relative;
    text-align: left;
    background:#ffffff;
    border-radius: 10px;
    overflow: hidden;
    margin:20px auto;
    &:before{
      content:"";
      position: absolute;
      z-index: 1;
      display: block;
      width: 100vh;
      height: 100vh;
      border-radius: 100%;
      background:#f6f7fc;
      left:0;
      top:0;
      transform: translateX(-50%) translateY(-20%);
      box-shadow: inset 2px 2px 10px rgba(0,0,0,0.1);
    }
    h1, #playfield{
      position: relative;
      z-index: 2;
    }
    h1{
      @include aqua(30px, #5d6d91);
      text-transform: uppercase;
      margin-bottom: 40px;
    }
    h2{
      display: inline-block;
      @include aqua(13px, #7085B3);
      line-height: 35px;
      border-top:2px solid rgba(254,98,160,1);
      text-transform: uppercase;
      .button{
        margin-bottom: 20px;
      }
    }
    .controls{
      position: absolute;
      top:0px;
      right: 0px;
      z-index: 3;
      .button{
        margin:0 10px 20px;
      }
    }
    .card-listing{
      text-align: justify;
      width: 100%;
      &:after{
        content:"";
        display: inline-block;
        width: 100%;
      }
      li{
        width: 49%;
        vertical-align: middle;
        display: inline-block;
        margin-bottom: 20px;
        .status{
          position: absolute;
          top:10px;
          right:10px;
          &.active{
            @include aqua(12px, #fff);
            text-transform: uppercase;
            &:before{
              content:"";
              display: inline-block;
              width: 8px;
              height: 8px;
              border-radius: 100%;
              vertical-align: middle;
              background: #6ACD5F;
              margin-right: 3px;
              position: relative;
              top:-1px;
            }
          }
        }
      }
    }

    #playfield{
      .liquid-container, .liquid-child{
        min-height: auto;
        overflow: visible;
      }
    }


    @media only screen and (max-width: 800px){
      margin:20px auto;
      text-align: center;
      padding:30px 20px 20px;
      h1, h2{
        text-align: center;
      }
      .controls{
        position: static;
        text-align: center;
        margin:-10px auto 20px;
      }
      .card-listing{
        height: auto;
        li{
          width: 100%;
          display: block;
          max-width: 550px;
          margin:0 auto 20px;
          .contents{
            font-size: 18px;
            p{
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
