#login{
  .logo{
    h2{
      @include aqua(25px, #FB5D9E);
      margin-bottom: 15px;
      text-transform: uppercase;
      position: relative;
      padding-bottom: 15px;
      &:after{
        position: absolute;
        content:'';
        display: block;
        width: 70px;
        left:0;
        right: 0;
        bottom:1px;
        margin:0 auto;
        height: 3px;
        background: rgb(251,93,158); /* Old browsers */
        background: -moz-linear-gradient(-45deg,  rgba(251,93,158,1) 0%, rgba(75,41,120,1) 80%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg,  rgba(251,93,158,1) 0%,rgba(75,41,120,1) 80%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg,  rgba(251,93,158,1) 0%,rgba(75,41,120,1) 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb5d9e', endColorstr='#4b2978',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
      }
    }
  }
}
