#login{
  position: absolute;
  top:0px;
  left:0px;
  width: 100%;
  height: 100%;
  text-align: center;
  &:before, &:after{
    content: "";
    display: inline-block;
    width: 1px;
    position: relative;
    height: 100%;
    vertical-align: middle;
  }
  .visible-content{
    display: inline-block;
    width: 95%;
    max-width: 900px;
    height: 80vh;
    max-height: 600px;
    min-height: 500px;
    vertical-align: middle;
    position: relative;
    background:#ffffff;
    border-radius: 2px;
    padding:20px;
    text-align: center;
    overflow: hidden;
    &:before{
      content:"";
      position: absolute;
      z-index: 1;
      display: block;
      width: 100vh;
      height: 100vh;
      //border-radius: 100%;
      background:#f6f7fc;
      left:0;
      top:0;
      transform: translateX(-50%) translateY(-20%) rotate(45deg);
      box-shadow: inset 2px 2px 10px rgba(0,0,0,0.1);
    }
    &:after{
      content:"";
      display: inline-block;
      position: relative;
      height: 100%;
      vertical-align: middle;
      width: 1px;
    }
    > form{
      position: relative;
      z-index: 2;
      width: 250px;
      max-width: 97%;
      margin:0 auto;
      display: inline-block;
      vertical-align: middle;
      right: -2px;
      label, input{
        width: 100%;
        display: block;
      }
      .title{
        @include aqua(30px, #5d6d91);
        margin-bottom: 10px;
      }
      p{
        @include rounded('book', 12px, #5d6d91);
        margin-bottom: 20px;
        line-height: 1.3;
        &.error{
          color:rgba(254,98,160,1);
          margin-bottom: 0px;
        }
      }
      label{
        @include rounded('medium', 10px, #5d6d91);
        text-align: left;
        text-transform: lowercase;
        margin-bottom: 2px;
      }
      input{
        margin-bottom: 15px;
        border:0px;
        background:transparent;
        padding:0px;
        line-height: 30px;
        border-bottom: 1px solid #5d6d91;
        transition:all 200ms ease-out;
        @include rounded('book', 12px, #5d6d91);
        &:focus, &:active{
          outline:0px;
          border-color:#FB5D9E;
        }
      }
      .button{
        margin-top: 30px;
      }
    }
  }
  .logo{
    h2{
      @include aqua(25px, #FB5D9E);
      margin-bottom: 15px;
      text-transform: uppercase;
      position: relative;
      padding-bottom: 15px;
      &:after{
        position: absolute;
        content:'';
        display: block;
        width: 70px;
        left:0;
        right: 0;
        bottom:1px;
        margin:0 auto;
        height: 3px;
        background: rgb(251,93,158); /* Old browsers */
        background: -moz-linear-gradient(-45deg,  rgba(251,93,158,1) 0%, rgba(75,41,120,1) 80%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg,  rgba(251,93,158,1) 0%,rgba(75,41,120,1) 80%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg,  rgba(251,93,158,1) 0%,rgba(75,41,120,1) 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb5d9e', endColorstr='#4b2978',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
      }
    }
  }
}
