#newcard{
  .visible-content{
    text-align: left;
    label{
      display: inline-block;
      @include aqua(13px, #7085B3);
      line-height: 35px;
      border-top:2px solid rgba(254,98,160,1);
      text-transform: uppercase;
    }
    .controls{
      position: absolute;
      top:0px;
      right: 0px;
      z-index: 3;
      .button{
        margin:0 10px 20px;
      }
    }
    form{
      max-width: 500px;
      margin:0 auto 30px;
      text-align: center;
      .button{
        margin-top: 30px;
      }
      .mce-panel{
        background:#fff;
        .mce-btn{
          background:#fff;
          border:1px solid transparent;
        }
        .mce-edit-area, .mceContentBody{
          background: rgba(112,133,179,1);
          background: -moz-linear-gradient(left, rgba(112,133,179,1) 0%, rgba(123,141,179,1) 84%, rgba(125,142,179,1) 100%);
          background: -webkit-gradient(left top, right top, color-stop(0%, rgba(112,133,179,1)), color-stop(84%, rgba(123,141,179,1)), color-stop(100%, rgba(125,142,179,1)));
          background: -webkit-linear-gradient(left, rgba(112,133,179,1) 0%, rgba(123,141,179,1) 84%, rgba(125,142,179,1) 100%);
          background: -o-linear-gradient(left, rgba(112,133,179,1) 0%, rgba(123,141,179,1) 84%, rgba(125,142,179,1) 100%);
          background: -ms-linear-gradient(left, rgba(112,133,179,1) 0%, rgba(123,141,179,1) 84%, rgba(125,142,179,1) 100%);
          background: linear-gradient(to right, rgba(112,133,179,1) 0%, rgba(123,141,179,1) 84%, rgba(125,142,179,1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7085b3', endColorstr='#7d8eb3', GradientType=1 );
          padding:0 20px;
        }
      }
    }


    @media only screen and (max-width: 800px){
      text-align: center;
      h1, h2{
        text-align: center;
      }
      .controls{
        position: static;
        text-align: center;
        margin:-10px auto 20px;
      }
    }
  }
}
