#newcard{
  .visible-content{
    text-align: left;
    label{
      display: inline-block;
      @include aqua(13px, #7085B3);
      line-height: 35px;
      border-top:2px solid rgba(254,98,160,1);
      text-transform: uppercase;
    }
    .controls{
      position: absolute;
      top:0px;
      right: 0px;
      z-index: 3;
      .button{
        margin:0 10px 20px;
      }
    }
    form{
      max-width: 500px;
      margin:15px auto 30px;
      text-align: center;
      .wrapper{
        text-align: center;
        .select-box{
          display: inline-block;
          vertical-align: middle;
          background:#fff;
          position: relative;
          margin:0 auto 20px;
          &:after{
            content:"";
            border-top:5px solid rgba(254,98,160,1);
            border-left:6px solid transparent;
            border-right:6px solid transparent;
            position: absolute;
            right:10px;
            top:50%;
            transform:translateY(-50%);
            z-index: 1;
          }
          #type{
            position: relative;
            z-index: 2;
            display: block;
            min-width: 150px;
            height: 35px;
            line-height: 35px;
            border:1px solid #cacaca;
            background: transparent;
            @include rounded(bold, 15px, #7085B3);
            -webkit-appearance:none;
            -moz-appearance:none;
            padding:0 30px 0 10px;
            border-radius: 0px;
            &:focus{
              outline:0;
              border-color:rgba(254,98,160,1);
            }
          }
        }
      }
      .button{
        margin-top: 30px;
      }
      .mce-panel{
        background:#fff;
        .mce-btn{
          background:#fff;
          border:1px solid transparent;
        }
        .mce-edit-area, .mceContentBody{
          background: #fff;
          padding:0 20px;
        }
      }
    }


    @media only screen and (max-width: 800px){
      text-align: center;
      h1, h2{
        text-align: center;
      }
      .controls{
        position: static;
        text-align: center;
        margin:-10px auto 20px;
      }
    }
  }
}
