<div id="pair">
  <div class="entry">
    <h3>What will {{liveUser.name}} pick?</h3>
    <div class="choices">
      {{#card-item values=pairedActive author=liveUser.name }}{{/card-item}}
    </div>
  </div>

  <div class="entry">
    <h3>What will {{liveUser.pairName}} pick?</h3>
    <div class="choices">
      {{#card-item values=playerActive author=liveUser.pairName }}{{/card-item}}
    </div>
  </div>
</div>

<div class="controls">
  <button {{action "newActives" }} class="button">New draw!</button>
  {{#link-to "listing" class="button"}}All cards{{/link-to}}
  {{#link-to "new-card" class="button"}}Add cards{{/link-to}}
</div>

{{yield}}
