<h3>The dares</h3>
<div class="card-listing">
  {{#each dares as |task|}}
    {{#single-card card=task removeRights=removeRights removeThis='deleteRecord' }}{{/single-card}}
  {{/each}}
</div>

<h3>The truths</h3>
<div class="card-listing">
  {{#each truths as |task|}}
    {{#single-card card=task removeRights=removeRights removeThis='deleteRecord' }}{{/single-card}}
  {{/each}}
</div>
{{yield}}
