@import "compass/css3";
@import "compass/reset";

@import "fonts";
@import "mixins";

*{
  box-sizing:border-box;
}

body, html{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fb5d9e+0,4b2978+62 */
  background: rgb(251,93,158); /* Old browsers */
  background: -moz-linear-gradient(-45deg,  rgba(251,93,158,1) 0%, rgba(75,41,120,1) 62%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  rgba(251,93,158,1) 0%,rgba(75,41,120,1) 62%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  rgba(251,93,158,1) 0%,rgba(75,41,120,1) 62%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb5d9e', endColorstr='#4b2978',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  position: relative;
  display:block;
  height: 100%;
  > .ember-view{
    min-height: 100vh;
  }
  .liquid-container, .liquid-child{
    min-height: 100vh;
    overflow: auto;
  }
}

@import "_parts/liquid";
@import "_parts/_manNav";

@import "_pages/_login";
@import "_pages/_index";
@import "_pages/_listing";
@import "_pages/_newcard";

@import "_parts/_global";

.button{
  background:#fff;
  padding:10px 40px;
  border-radius: 20px;
  @include rounded('medium', 13px, #5d6d91);
  border:0px;
  box-shadow: 2px 0px 10px rgba(0,0,0,0.1);
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  transition:all 200ms ease-out;
  position: relative;
  top:0px;
  white-space: nowrap;
  display: inline-block;
  &:after{
    content:"\2192";
    color:#FB5D9E;
    padding-left: 3px;
    position: relative;
    left:0px;
    transition:all 200ms ease-out;
  }
  &:hover{
    top:-2px;
    &:after{
      left:2px;
      cursor: pointer;
    }
  }
  &.tiny{
    padding:5px 10px;
    margin-left: 5px;
    font-size: 10px;
  }
  &.remove{
    font-size: 10px;
    padding:7px;
    &:after{
      content:'X';
    }
  }
  &:active, &:focus{
    outline: 0;
  }
}

.card{
  display: inline-block;
  width: 100%;
  @include transition(all 200ms ease-out);
  @include transform(translateY(0px));
  vertical-align: middle;
  border:2px solid #f2f2f2;
  background:#fff;
  text-align: center;
  border-radius:4px;
  &:hover{
    @include transform(translateY(-2px));
  }
  .contents{
    height: 0px;
    transition:all 200ms ease-out;
    overflow: hidden;
    line-height: 20px;
    position: relative;
    z-index: 2;
    line-height: 160px;
    span{
      transition:all 200ms ease-out;
      @include rounded(bold, 15px, #7085B3);
    }
  }
  .title{
    height: 200px;
    line-height: 200px;
    position: relative;
    z-index: 2;
    width: 100%;
    background: transparent;
    border:0px;
    @include rounded(bold, 15px, #7085B3);
    text-transform: uppercase;
    cursor: pointer;
    @include transition(all 200ms ease-out);
    &:focus{
      outline:0;
    }
    span{
      padding:8px 10px 6px;
      border-radius: 3px;
      border:1px solid rgb(251,93,158);
      background:#fff;
      transition:all 200ms ease-out;
    }
    &:hover span{
      padding:10px 12px 8px;
      font-size: 16px;
    }
  }
  .choice{
    position: relative;
    overflow: hidden;
    cursor: pointer;
    &:before{
      content:"";
      display: block;
      position: absolute;
      height: 1px;
      @include transition(all 200ms ease-out);
      width: 100%;
      background:#f2f2f2;
    }
    &:hover{
      &:before{
        height: 105%;
      }
    }
    &:first-child{
      &:before{
        bottom:0px;
      }
    }
    &:last-child{
      &:before{
        top:0px;
      }
    }

    &.active{
      .title{
        height: 60px;
        line-height: 60px;
      }
      .contents{
        height: 280px;
        line-height: 280px;
      }
    }
    &.passive{
      .title{
        height: 60px;
        line-height: 60px;
      }
      .contents{
        height: 0px;
      }
    }
  }
}

.tinyMCE-editor{
  background: rgba(112,133,179,1);
  background: -moz-linear-gradient(left, rgba(112,133,179,1) 0%, rgba(123,141,179,1) 84%, rgba(125,142,179,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(112,133,179,1)), color-stop(84%, rgba(123,141,179,1)), color-stop(100%, rgba(125,142,179,1)));
  background: -webkit-linear-gradient(left, rgba(112,133,179,1) 0%, rgba(123,141,179,1) 84%, rgba(125,142,179,1) 100%);
  background: -o-linear-gradient(left, rgba(112,133,179,1) 0%, rgba(123,141,179,1) 84%, rgba(125,142,179,1) 100%);
  background: -ms-linear-gradient(left, rgba(112,133,179,1) 0%, rgba(123,141,179,1) 84%, rgba(125,142,179,1) 100%);
  background: linear-gradient(to right, rgba(112,133,179,1) 0%, rgba(123,141,179,1) 84%, rgba(125,142,179,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7085b3', endColorstr='#7d8eb3', GradientType=1 );
  @include rounded("light", 20px, #f2f2f2);
  padding:20px 0px;
  p{
    @include rounded("light", 20px, #f2f2f2);
    line-height: 1.3;
  }
  a{
    color:#fff;
    transition:all 200ms ease-out;
    display: inline-block;
    border-bottom: 1px solid #f2f2f2;
    text-decoration: none;
    &:hover{
      border-color:rgba(254,98,160,1);
    }
  }
  strong{
    font-family: "gotham-rounded-medium";
  }
}

