{{#if session.isAuthenticated}}
  <div id="index" class="page">
    <div class="visible-content">
      <div id="playfield">
        <h3>Truth'o'Dare</h3>
        <h1>Ongoing game</h1>
        <p class="intro">{{#link-to "help"}}Need help? Check out how to play!{{/link-to}}</p>
        {{#current-cards cards=sortedDares current=user.email paired=user.pair liveUser=user switch=(action "newActives" user) }}{{/current-cards}}
        {{outlet}}
      </div>
    </div>
  </div>
{{/if}}
