<div id="newcard">
  <div class="visible-content">
    <div id="playfield">
      <h1>New card</h1>
      <div class="controls">
        {{#link-to "index" class="button tiny"}}Current cards{{/link-to}}
        {{#link-to "listing" class="button tiny"}}All cards{{/link-to}}
      </div>
      <div id="new-post">
        <form class="post-publish" id="new-post-form">
          {{input type="hidden" class="title-input" required="true" value=author }}
          <fieldset>
            <label>What's the new task?</label>
            {{tinymce-editor options=options required="true" value=task id="tinymce"}}
          </fieldset>
          <button type="submit" {{action "publishPost"}} class="button" id="submit">Add this one</button>
        </form>
      </div>
      {{outlet}}
    </div>
  </div>
</div>